.sticky-topbar {
  width: 100%;
}

.header {
  padding: 20px;
  text-align: center;
  background-color: rgb(80, 200, 255);
  background: #fa8bff;
  background-image: linear-gradient(45deg, #fa8bff, #2bd2ff, #2bff88);
  color: black;
  font-size: 15px;
  font-family: cursive;
}

.form-label {
  text-align: center;
  text-decoration: bold;
  font-size: larger;
}

#placeholder {
  margin-right: 0;
}

ul.menu {
  justify-content: center;
}
/*MODAL*/
.modal {
  display: hide;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-image: linear-gradient(45deg, #fa8bff, #2bd2ff, #2bff88);
}

.modal-content {
  justify-content: center;
  background-image: linear-gradient(45deg, #fa8bff, #2bd2ff, #2bff88);
  margin: 15% auto;
  padding: 20px;
  width: 60%;
  height: 35%;
  box-shadow: 0 8px 10px 0 rgb(8, 58, 58, 0.2),
    0 10px 20px 0 rgb(8, 58, 58, 0.2);
}

.startBtn {
  font-size: 5em;
  transition-duration: 0.7s;
  color: #f6f2f7;
}

.startBtn:hover {
  color: rgb(152, 10, 247);
}

.fa-grin-stars:before {
  padding: 8px;
}

.subtitle {
  text-align: center;
}

h3 {
  color: rgb(8, 58, 58);
}

#response-container-ticket img {
  width: 50%;
  margin-left: 20%;
}

#response-container-brew,
#response-container-ticket {
  width: 90%;
}

ul {
  list-style: none;
}

.subtitle {
  color: wheat;
  font-size: 15px;
  margin-top: 12px;
  margin-bottom: 5px;
}

body {
  background-color: rgb(2, 2, 2);
}

ul {
  background-color: rgb(205, 207, 207);
  justify-content: center;
}

ul li {
  margin-left: 5px;
}

.marketing-site-content-section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

ul.img {
  justify-content: center;
}

.marketing-site-content-section .button.round {
  border-radius: 5000px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.marketing-site-content-section .marketing-site-content-section-img {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
}

.marketing-site-content-section .marketing-site-content-section-img img {
  width: 100%;
}
/*EDIT FOR I-5*/
@media screen and (min-width: 985px) {
  .modal-content {
    justify-content: center;
    flex-direction: column;
  }
  .modal-content p {
    text-align: center;
  }
}

@media screen and (min-width: 985px) {
  .modal-content {
    justify-content: center;
    flex-direction: column;
  }
  .modal-content p {
    text-align: center;
  }
}

@media screen and (min-width: 40em) {
  .marketing-site-content-section .marketing-site-content-section-img {
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
  }
}

.marketing-site-content-section .marketing-site-content-section-block {
  padding: 1rem;
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  background: #e6e6e6;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media screen and (min-width: 40em) {
  .marketing-site-content-section .marketing-site-content-section-block {
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    padding: 2rem;
  }
}

.marketing-site-content-section-block-header {
  font-size: 24px;
}

.marketing-site-content-section-block-subheader {
  font-size: 13px;
}
