.sticky-topbar {
  width: 100%;
}

.header {
  padding: 20px;
  text-align: center;
  background-color: rgb(80, 200, 255);
  background: #fa8bff;
  background-image: linear-gradient(45deg, #fa8bff, #2bd2ff, #2bff88);
  color: black;
  font-size: 15px;
  font-family: cursive;
}

.form-label {
  text-decoration: bold;
  font-size: larger;
}

#restaurantLoc {
  width: 50%;
  border: 1px solid grey;
  border-radius: 5px;
  height: 35px;
  padding: 2px 25px 2px 30px;
  outline: bold;
  background-color: #f5f5f5;
}

#restaurantLoc:hover,
#restaurantLoc:focus {
  border: 1.5px solid #009688;
  background-color: white;
}

.subtitle {
  font-size: 15px;
}

.restNear {
  margin-top: 150px;
}

.concNear {
  margin-top: 150px;
}

.brewNear {
  margin-top: 150px;
}

