.sticky-topbar {
  width: 100%;
}

.response-container-ticket.li.img {
  justify-content: center;
  max-height: 100px;
}

.header {
  padding: 20px;
  text-align: center;
  background-color: rgb(80, 200, 255);
  background: #fa8bff;
  background-image: linear-gradient(45deg, #fa8bff, #2bd2ff, #2bff88);
  color: black;
  font-size: 15px;
  font-family: cursive;
}

.form-label {
  text-align: center;
  text-decoration: bold;
  font-size: larger;
}

#placeholder {
  margin-right: 0;
}

ul.menu {
  justify-content: center;
}

.subtitle {
  text-align: center;
}

#restaurantLoc {
  width: 50%;
  border: 1px solid grey;
  border-radius: 5px;
  height: 35px;
  padding: 2px 25px 2px 30px;
  outline: bold;
  background-color: #f5f5f5;
}

#restaurantLoc:hover,
#restaurantLoc:focus {
  border: 1.5px solid #009688;
  background-color: white;
}

.subtitle {
  font-size: 15px;
  margin-top: 12px;
  margin-bottom: 5px;
}


.restNear {
  margin-top: 150px;
}

.concNear {
  margin-top: 150px;
}

.brewNear {
  margin-top: 150px;
}
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  margin: auto;;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.column img {
  height: 300px;
}

.marketing-site-content-section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.marketing-site-content-section .button.round {
  border-radius: 5000px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.marketing-site-content-section .marketing-site-content-section-img {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  -webkit-flex: 1 0 100%;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.marketing-site-content-section .marketing-site-content-section-img img {
  width: 100%;
}

@media screen and (min-width: 40em) {
  .marketing-site-content-section .marketing-site-content-section-img {
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}

.marketing-site-content-section .marketing-site-content-section-block {
  padding: 1rem;
  -webkit-flex: 1 0 100%;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  background: #e6e6e6;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (min-width: 40em) {
  .marketing-site-content-section .marketing-site-content-section-block {
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    padding: 2rem;
  }
}

.marketing-site-content-section-block-header {
  font-size: 24px;
}

.marketing-site-content-section-block-subheader {
  font-size: 13px;
}

